* {
  box-sizing: content-box;
  margin: 0%;
}

.navigation {
  height: 40px;
}
.nav-item {
  display: inline;
  color: white;
  float: left;
  margin-left: 16px;
  line-height: 2.5;
}
.content {
  height: 5000px;
  background-color: beige;
}
.head {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  position: absolute;
  left: calc(50% - (200px / 2));
  top: calc(50% - (200px / 2));
}
.header {
  z-index: 1;
  position: sticky;
  background-color: darkturquoise;
  height: 40px;
  top: 0px;
}
.ear_left {
  height: 60px;
  width: 40px;
  background-color: brown;
  position: relative;
  bottom: 30%;
  right: 100%;
  float: right;
}
.ear_right {
  height: 60px;
  width: 40px;
  background-color: brown;
  position: relative;
  bottom: 30%;
  left: 100%;
  float: left;
}
.eye_right {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
  float: left;
  position: relative;
  top: 40%;
  bottom: 60%;
}
.eye_left {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
  float: right;
  position: relative;
  top: 40%;
  bottom: 60%;
}
