* {
  box-sizing: border-box;
}
.image-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.gallery {
  display: flex;
}
.image-valley-tree {
  display: block;
  margin: auto;
  border-radius: 20px;
  max-width: 100%;
}
.card {
  margin: 16px;
  box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, 0.75);
}
.caption {
  line-height: 30px;
  text-transform: lowercase;
  text-align: center;
}
.small-image1 {
  filter: opacity(50%);
}
.small-image2 {
  filter: blur(4px);
}
.small-image3 {
  filter: invert(100%);
}
