body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header_item {
  font-size: 74px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  width: 50%;
  margin: auto;
}
div {
  height: 200px;
  background-color: coral;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 200px;
}
