.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.downloads {
  display: flex;
  margin-top: 25px;
}

.about-company {
  width: 100%;
  margin: auto;
  margin-top: 40px;
}

.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.footer-line {
  display: none;
}

.nav-links__list {
  font-size: 18px;
  color: rgba(43, 41, 45, 0.6);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links__list-item {
  line-height: 35px;
}

.nav-links {
  width: 265px;
}

.additional-navigation__column {
  margin-right: 29px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

@media screen and (max-width: 320px) {
  .footer .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .logo__image {
    margin: 0;
    width: 66px;
    height: 60px;
  }

  .footer .logo__item__text {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .footer .logo__description {
    opacity: 0.6;
    line-height: 25px;
    font-size: 19px;
  }

  .downloads {
    display: flex;
    margin-top: 31px;
    padding-bottom: 40px;
    justify-content: center;
    border-bottom: 1px solid #e3e3e3;
  }

  .additional-navigation__column {
    margin-bottom: 30px;
  }

  .footer-links {
    margin-left: 15px;
  }

  .social-links {
    margin-top: 31px;
    margin-bottom: 23px;
  }

  .social-links__item {
    margin-right: 20px;
  }
}

.nav-links__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
  margin-bottom: 18px;
}

.footer-navigation {
}

.footer__description {
  display: none;
}

.footer .logo__description {
  display: block;
}

@media screen and (min-width: 321px) {
  .footer__description {
    display: block;
    width: 360px;
    font-size: 18px;
    line-height: 26px;
    margin-top: 26px;
    color: #2b292d99;
  }

  .about-company {
    width: 1140px;
    margin-top: 43px;
  }

  .footer-navigation {
    height: 338px;
    width: 1140px;
    margin: 0 auto;
    display: flex;
  }

  .downloads {
    margin-top: 25px;
  }

  .additional-navigation {
    margin-top: 60px;
    margin-right: 34px;
    margin-bottom: 0;
    flex-direction: row;
  }

  .footer-line {
    display: block;
    border: 1px solid #2b292d;
    width: 100%;
    margin: 0;
    opacity: 0.1;
  }

  .footer-links {
    flex-direction: row;
    width: 1140px;
    height: 50px;
    margin: 0 auto;
    align-items: center;
  }

  .terms {
    margin-right: auto;
    margin-top: 13px;
    margin-bottom: 15px;
    height: 50px;
  }

  .terms__item {
    line-height: 50px;
    text-decoration: none;
  }

  .social-links {
    margin-left: auto;
  }

  .social-links__item {
    margin-left: 20px;
  }
}

.terms {
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: 22px;
  font-size: 14px;
}

.terms__item {
  line-height: 22px;
  opacity: 0.6;
  text-decoration: none;
  color: #2b292d99;
}
