.headline {
  width: 100%;
}

.headline__content {
  margin: 35px 15px 33px 15px;
}

.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin-top: 0;
  margin-bottom: 0;
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
.headline__buttons {
  margin-top: 30px;
}

.headline__button {
  width: 158px;
  height: 48px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 1e-5) 100%
    ),
    #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  color: #3040c4;
  font-size: 18px;
  line-height: 13px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
}

.headline__bunner {
  width: 100%;
  margin-bottom: 36px;
}

@media screen and (max-width: 319px) {
  .headline__buttons-action {
    width: 100%;
  }
}

@media screen and (min-width: 320px) {
  .headline__title {
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    width: 764px;
    color: #2b292d;
    position: absolute;
    top: 177px;
    left: 126px;
    z-index: 1;
    margin: 0;
    padding: 0;
  }
  .headline {
    width: 1140px;
    margin: auto;
  }
  .headline__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    width: 764px;
    color: #2b292d;
    top: 177px;
    left: 126px;
    z-index: 1;
    margin: 0;
    padding: 0;
  }
  .headline__description {
    width: 456px;
    position: absolute;
    top: 376px;
    left: 130px;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #2b292d;
    margin: 0;
    padding: 0;
  }

  .headline__buttons {
    display: flex;
    position: absolute;
    top: 536px;
    left: 130px;
    margin-top: 0;
  }
  .headline__button {
    margin-left: 10px;
    margin-top: 0;
  }
  .headline__bunner {
    margin: 0;
    width: 796px;
    height: 448px;
    position: absolute;
    top: 185px;
    right: 25px;
  }
}
